In [ ]:
import numpy as np
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
week_6 = pd.read_csv('/Dataset 1 csv/Week_6.csv',nrows=2, header=None) 
combined_headers = week_6.fillna('').astype(str).agg(' '.join).str.strip()
week_6 = pd.read_csv('/Dataset 1 csv/Week_6.csv', skiprows=2, header=None)
week_6.columns = combined_headers


week_6.head()

,CW2 (1),CW3 (1),CW4 (1),CC1 [FA] (100),Overall Result,Q12 List of Countries,"Q14 What is your year of birth (Just the year, e.g. 1995) ?",Q10 How do you describe yourself? - Selected Choice,Q16 What is your first degree subject area?,Unnamed: 9 Student ID,...,Unnamed: 45 Learning Materials,Unnamed: 46 Module Information (Handbook),Unnamed: 47 Reading List,Unnamed: 48 Week 1,Unnamed: 49 Week 2,Unnamed: 50 week 3,Unnamed: 51 Week 4,Unnamed: 52 Week 5,Unnamed: 53 Week 6,Unnamed: 54 Week 7
0,60.0,68.0,30.0,72.0,60.0,Nigeria,1996,Male,"CAH13-01\tArchitecture, building and planning",1,...,2022-11-08 00:07:53.827000,2022-11-08 00:08:23.712000,2022-11-08 00:08:51.226000,NaN,NaN,NaN,NaN,NaN,2022-11-08 00:08:03.995000,NaN
1,65.0,75.0,55.0,78.0,70.0,Nigeria,1996,Male,CAH07-02\tChemistry,2,...,2022-11-07 19:21:57.721000,2022-11-08 11:23:14.102000,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-07 19:22:00.056000,NaN
2,58.0,66.0,68.0,66.0,65.0,Nigeria,1990,Female,CAH15-02\tEconomics,3,...,2022-11-07 12:18:50.643000,2022-11-07 12:19:09.320000,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-07 12:18:58.014000,NaN
3,59.0,60.0,20.0,68.0,55.0,Nigeria,1991,Male,CAH15-02\tEconomics,4,...,2022-11-08 14:04:16.947000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-08 14:04:22.760000,NaN
4,66.0,65.0,55.0,70.0,65.0,Pakistan,1998,Male,CAH17-01\tBusiness and management,5,...,2022-11-08 14:19:31.715000,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-08 14:19:59.292000,2022-11-08 14:20:03.496000,NaN

In [3]:
week_6.shape

(212, 55)

In [5]:
week_6.columns[week_6.columns.duplicated()]

Index([], dtype='object')

In [7]:
found_issues = False

for col in week_6.select_dtypes(include='object'):
    if week_6[col].str.contains(r'^\s+|\s+$', na=False).any():
        print(f"Formatting issue found in column: '{col}' (leading/trailing spaces)")
        found_issues = True

if not found_issues:
    print("No formatting issues found in object (string) columns.")

No formatting issues found in object (string) columns.

In [9]:
# Pattern for special characters (anything except letters, digits, or whitespace)
pattern = r'[^a-zA-Z0-9\s]'

# Loop through object columns
for col in week_6.select_dtypes(include='object'):
    special_chars = week_6[col].dropna().astype(str).str.extractall(f'({pattern})')
    unique_specials = special_chars[0].unique()

    if len(unique_specials) > 0:
        print(f"Column: {col}")
        print("Special characters found:", unique_specials)
        print("-" * 30)

Column: Q12 List of Countries
Special characters found: ['(' '.' ')']
------------------------------
Column: Q10 How do you describe yourself? - Selected Choice
Special characters found: ['-' '/']
------------------------------
Column: Q16 What is your first degree subject area?
Special characters found: ['-' ',']
------------------------------
Column: Unnamed: 10 Date Range- Week 6
Special characters found: ['/' '-']
------------------------------
Column: Avg course & student time &logins Student Time in Course
Special characters found: [':']
------------------------------
Column: Unnamed: 19 Avg Time Per User
Special characters found: [':']
------------------------------
Column: Initial Access Date/Time Assignments
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 45 Learning Materials
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 46 Module Information (Handbook)
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 47 Reading List
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 48 Week 1
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 49 Week 2
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 50 week 3
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 51 Week 4
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 52 Week 5
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 53 Week 6
Special characters found: ['-' ':' '.']
------------------------------
Column: Unnamed: 54 Week 7
Special characters found: ['-' ':' '.']
------------------------------

In [13]:
week_6.dtypes

CW2 (1)                                                                         float64
CW3 (1)                                                                         float64
CW4 (1)                                                                         float64
CC1 [FA] (100)                                                                  float64
Overall Result                                                                  float64
Q12 List of Countries                                                            object
Q14 What is your year of birth (Just the year, e.g. 1995) ?                       int64
Q10 How do you describe yourself? - Selected Choice                              object
Q16 What is your first degree subject area?                                      object
Unnamed: 9 Student ID                                                             int64
Unnamed: 10 Date Range- Week 6                                                   object
Student Activity by Day in hours Monday                                         float64
Unnamed: 12 Tuesday                                                             float64
Unnamed: 13 Wednesday                                                           float64
Unnamed: 14 Thursday                                                            float64
Unnamed: 15 Friday                                                              float64
Unnamed: 16 Saturday                                                            float64
Unnamed: 17 Sunday                                                              float64
Avg course & student time &logins Student Time in Course                         object
Unnamed: 19 Avg Time Per User                                                    object
Unnamed: 20 Total items:                                                          int64
Unnamed: 21 Total Logins                                                          int64
Student Activity by Item in the Course total time spent in hours Assignments    float64
Unnamed: 23 Learning Materials                                                  float64
Unnamed: 24 Module Information (Handbook(                                       float64
Unnamed: 25 Reading List                                                        float64
Unnamed: 26 Week 1                                                              float64
Number of Times Accessed Week 2                                                 float64
Unnamed: 28 week 3                                                              float64
Unnamed: 29 Week 4                                                              float64
Unnamed: 30 Week 5                                                              float64
Unnamed: 31 Week 6                                                              float64
Unnamed: 32 Week 7                                                              float64
Unnamed: 33 Assignments                                                           int64
Unnamed: 34 Learning Materials                                                    int64
Unnamed: 35 Module Information (Handbook)                                         int64
Unnamed: 36 Reading List                                                          int64
Unnamed: 37 Week 1                                                                int64
Unnamed: 38 Week 2                                                                int64
Unnamed: 39 Week 3                                                                int64
Unnamed: 40 Week 4                                                                int64
Unnamed: 41 Week 5                                                                int64
Unnamed: 42 Week 6                                                                int64
Unnamed: 43 Week 7                                                                int64
Initial Access Date/Time Assignments                                             object
Unnamed: 45 Learning Materials                                                   object
Unnamed: 46 Module Information (Handbook)                                        object
Unnamed: 47 Reading List                                                         object
Unnamed: 48 Week 1                                                               object
Unnamed: 49 Week 2                                                               object
Unnamed: 50 week 3                                                               object
Unnamed: 51 Week 4                                                               object
Unnamed: 52 Week 5                                                               object
Unnamed: 53 Week 6                                                               object
Unnamed: 54 Week 7                                                               object
dtype: object

In [35]:
rename_dict = {
    'CW2 (1)': 'CW2',
    'CW3 (1)': 'CW3',
    'CW4 (1)': 'CW4',
    #'CC1 [FA] (100)': 'CC1_FA',
    #'Overall Result': 'Overall_Result',
    #'Q12 List of Countries': 'Country',
    #'Q14 What is your year of birth (Just the year, e.g. 1995) ?': 'Year_of_Birth',
    #'Q10 How do you describe yourself? - Selected Choice': 'Gender',
    #'Q16 What is your first degree subject area?': 'Degree_Subject',
    'Unnamed: 9 Student ID': 'Student_ID',
    'Unnamed: 10 Date Range- Week 6': 'Date_Range_Week 6',
    
    #'Student Activity by Day in hours Monday',                                        
    'Unnamed: 12 Tuesday': 'Tuesday',                                                           
    'Unnamed: 13 Wednesday' : 'Wednesday',                                                          
    'Unnamed: 14 Thursday': 'Thursday',                                                         
    'Unnamed: 15 Friday' : 'Friday',                                                           
     'Unnamed: 16 Saturday' : 'Saturday',                                                          
    'Unnamed: 17 Sunday' : 'Sunday',

    #'Avg course & student time &logins Student Time in Course': 'Time_in_Course',
    'Unnamed: 19 Avg Time Per User' : 'Avg_Time_Per_User',
    'Unnamed: 20 Total items:': 'Total_Items',
    'Unnamed: 21 Total Logins': 'Total_Logins',

    #'Student Activity by Item in the Course total time spent in hours Assignments': 'Assignments_Time',
    'Unnamed: 23 Learning Materials': 'Learning_Materials_Time',
    'Unnamed: 24 Module Information (Handbook(': 'Module_Info_Time',
    'Unnamed: 25 Reading List': 'Reading_List_Time',
    'Unnamed: 26 Week 1' : 'week_1_Time',

    # Number of Times Accessed Week 2  
    'Unnamed: 28 week 3' : 'Times Accessed_week 3',  
    'Unnamed: 29 Week 4' :  'Times Accessed_week 4',
    'Unnamed: 30 Week 5' : 'Times Accessed_week 5',  
    'Unnamed: 31 Week 6' : 'Times Accessed_week 6',
    'Unnamed: 32 Week 7' : 'Times Accessed_week 7',
    'Unnamed: 33 Assignments' :  'Times Accessed_Assignments',                                                         
     'Unnamed: 34 Learning Materials' : 'Times Accessed_Learning_material',                                                   
     'Unnamed: 35 Module Information (Handbook)': 'Times Accessed_Module_Info_Time',                                       
     'Unnamed: 36 Reading List' : 'Times Accessed_reading_list',                                                      
     'Unnamed: 37 Week 1' :'Times Accessed_week_1',                                                               
     'Unnamed: 38 Week 2' :'Times Accessed_week_2',                                                                 
     'Unnamed: 39 Week 3' :'Times Accessed_week_3', 
     'Unnamed: 40 Week 4' :'Times Accessed_week_4', 
     'Unnamed: 42 Week 5' :'Times Accessed_week_5',                                                                 
     'Unnamed: 43 Week 6' :'Times Accessed_week_6', 
      'Unnamed: 43 Week 7' :'Times Accessed_week_7', 

    #'Initial Access Date/Time Assignments': 'Initial_Access_Assignments',
    'Unnamed: 45 Learning Materials': 'Initial_Learning_Materials',
    'Unnamed: 46 Module Information (Handbook)': 'Initial_Module_Info',
    'Unnamed: 47 Reading List': 'Initial_Reading_List',
    'Unnamed: 48 Week 1': 'Initial_Week_1',
    'Unnamed: 49 Week 2' : 'Initial_Week_2',
    'Unnamed: 50 week 3': 'Initial_Week_3',
    'Unnamed: 51 Week 4': 'Initial_Week_4',
    'Unnamed: 52 Week 5' : 'Initial_Week_5',
    'Unnamed: 53 Week 6': 'Initial_Week_6',
    'Unnamed: 54 Week 7': 'Initial_Week_7'
    
    # Add more as needed

}

In [37]:
week_6.rename(columns=rename_dict, inplace=True)

In [39]:
week_6.dtypes

CW2                                                                             float64
CW3                                                                             float64
CW4                                                                             float64
CC1 [FA] (100)                                                                  float64
Overall Result                                                                  float64
Q12 List of Countries                                                            object
Q14 What is your year of birth (Just the year, e.g. 1995) ?                       int64
Q10 How do you describe yourself? - Selected Choice                              object
Q16 What is your first degree subject area?                                      object
Student_ID                                                                        int64
Date_Range_Week 6                                                                object
Student Activity by Day in hours Monday                                         float64
Tuesday                                                                         float64
Wednesday                                                                       float64
Thursday                                                                        float64
Friday                                                                          float64
Saturday                                                                        float64
Sunday                                                                          float64
Avg course & student time &logins Student Time in Course                         object
Avg_Time_Per_User                                                                object
Total_Items                                                                       int64
Total_Logins                                                                      int64
Student Activity by Item in the Course total time spent in hours Assignments    float64
Learning_Materials_Time                                                         float64
Module_Info_Time                                                                float64
Reading_List_Time                                                               float64
week_1_Time                                                                     float64
Number of Times Accessed Week 2                                                 float64
Times Accessed_week 3                                                           float64
Times Accessed_week 4                                                           float64
Times Accessed_week 5                                                           float64
Times Accessed_week 6                                                           float64
Times Accessed_week 7                                                           float64
Times Accessed_Assignments                                                        int64
Times Accessed_Learning_material                                                  int64
Times Accessed_Module_Info_Time                                                   int64
Times Accessed_reading_list                                                       int64
Times Accessed_week_1                                                             int64
Times Accessed_week_2                                                             int64
Times Accessed_week_3                                                             int64
Times Accessed_week_4                                                             int64
Unnamed: 41 Week 5                                                                int64
Unnamed: 42 Week 6                                                                int64
Times Accessed_week_7                                                             int64
Initial Access Date/Time Assignments                                             object
Initial_Learning_Materials                                                       object
Initial_Module_Info                                                              object
Initial_Reading_List                                                             object
Initial_Week_1                                                                   object
Initial_Week_2                                                                   object
Initial_Week_3                                                                   object
Initial_Week_4                                                                   object
Initial_Week_5                                                                   object
Initial_Week_6                                                                   object
Initial_Week_7                                                                   object
dtype: object

In [41]:
week_6.isnull().sum()

CW2                                                                               0
CW3                                                                               0
CW4                                                                               0
CC1 [FA] (100)                                                                    0
Overall Result                                                                    0
Q12 List of Countries                                                             0
Q14 What is your year of birth (Just the year, e.g. 1995) ?                       0
Q10 How do you describe yourself? - Selected Choice                               0
Q16 What is your first degree subject area?                                       4
Student_ID                                                                        0
Date_Range_Week 6                                                                 0
Student Activity by Day in hours Monday                                           0
Tuesday                                                                           0
Wednesday                                                                         0
Thursday                                                                          0
Friday                                                                            0
Saturday                                                                          0
Sunday                                                                            0
Avg course & student time &logins Student Time in Course                          0
Avg_Time_Per_User                                                                 0
Total_Items                                                                       0
Total_Logins                                                                      0
Student Activity by Item in the Course total time spent in hours Assignments      0
Learning_Materials_Time                                                           0
Module_Info_Time                                                                  0
Reading_List_Time                                                                 0
week_1_Time                                                                       0
Number of Times Accessed Week 2                                                   0
Times Accessed_week 3                                                             0
Times Accessed_week 4                                                             0
Times Accessed_week 5                                                             0
Times Accessed_week 6                                                             0
Times Accessed_week 7                                                             0
Times Accessed_Assignments                                                        0
Times Accessed_Learning_material                                                  0
Times Accessed_Module_Info_Time                                                   0
Times Accessed_reading_list                                                       0
Times Accessed_week_1                                                             0
Times Accessed_week_2                                                             0
Times Accessed_week_3                                                             0
Times Accessed_week_4                                                             0
Unnamed: 41 Week 5                                                                0
Unnamed: 42 Week 6                                                                0
Times Accessed_week_7                                                             0
Initial Access Date/Time Assignments                                            211
Initial_Learning_Materials                                                       27
Initial_Module_Info                                                             177
Initial_Reading_List                                                            184
Initial_Week_1                                                                  205
Initial_Week_2                                                                  209
Initial_Week_3                                                                  209
Initial_Week_4                                                                  203
Initial_Week_5                                                                  167
Initial_Week_6                                                                   45
Initial_Week_7                                                                  197
dtype: int64

In [29]:
week_6['CW2'].describe()

count    212.000000
mean      64.113208
std        8.977403
min       20.000000
25%       58.000000
50%       64.500000
75%       70.000000
max       85.000000
Name: CW2, dtype: float64

In [45]:
week_6['CW2'].describe()

count    212.000000
mean      64.294009
std        8.342352
min       44.110000
25%       58.000000
50%       64.500000
75%       70.000000
max       85.000000
Name: CW2, dtype: float64

In [43]:
# Exclusion list for non-numeric or unfit columns
exclude_columns = [
    'Student_ID',
    'Date_Range_Week 6',
    'Initial Access Date/Time Assignments',
    'Initial_Learning_Materials',
    'Initial_Module_Info',
    'Initial_Reading_List',
    'Initial_Week_1',                                                                  
    'Initial_Week_2',                                                                  
     'Initial_Week_3',                                                                 
     'Initial_Week_4',                                                                  
     'Initial_Week_5',                                                                   
     'Initial_Week_6', 
     'Initial_Week_7', 
    'Q12 List of Countries',
    'Q10 How do you describe yourself? - Selected Choice',
    'Q16 What is your first degree subject area?',
    'Avg course & student time &logins Student Time in Course'
]

# Process each relevant column
for column in week_6.columns:
    if column in exclude_columns:
        continue

    try:
        # Convert column to numeric
        col_numeric = pd.to_numeric(week_6[column], errors='coerce')
        clean_col = col_numeric.dropna()

        if clean_col.empty:
            continue

        # Calculate bounds
        lower_limit = clean_col.quantile(0.01)
        upper_limit = clean_col.quantile(0.99)

        # Identify original outliers
        original_outliers = week_6[(col_numeric < lower_limit) | (col_numeric > upper_limit)][[column]]

        if not original_outliers.empty:
            print(f"Outliers in column: {column}")
            print(original_outliers)
            print("-" * 30)
            print(f"{column}: values capped to [{lower_limit:.2f}, {upper_limit:.2f}]\n")

        # Apply winsorization
        week_6[column] = col_numeric.clip(lower=lower_limit, upper=upper_limit)

    except Exception as e:
        print(f"⚠️ Skipping column '{column}' due to error: {e}")

Outliers in column: CW2
     CW2
31  20.0
34  30.0
37  44.0
------------------------------
CW2: values capped to [44.11, 85.00]

Outliers in column: CW3
      CW3
79   32.0
108  40.0
------------------------------
CW3: values capped to [50.00, 86.00]

Outliers in column: CW4
     CW4
3   20.0
7   90.0
29  90.0
64  29.0
77  20.0
------------------------------
CW4: values capped to [29.11, 86.00]

Outliers in column: CC1 [FA] (100)
     CC1 [FA] (100)
79             47.0
158            45.0
------------------------------
CC1 [FA] (100): values capped to [50.00, 86.00]

Outliers in column: Overall Result
     Overall Result
25             83.0
27             82.0
41             83.0
119            52.0
140            51.8
158            48.2
------------------------------
Overall Result: values capped to [52.04, 81.89]

Outliers in column: Q14 What is your year of birth (Just the year, e.g. 1995) ?
     Q14 What is your year of birth (Just the year, e.g. 1995) ?
32                                                1970
135                                               1974
154                                               1969
------------------------------
Q14 What is your year of birth (Just the year, e.g. 1995) ?: values capped to [1974.11, 2002.00]

Outliers in column: Student Activity by Day in hours Monday
     Student Activity by Day in hours Monday
12                                  3.983612
43                                  5.520278
105                                 4.514167
------------------------------
Student Activity by Day in hours Monday: values capped to [0.00, 3.84]

Outliers in column: Tuesday
      Tuesday
54   6.404723
170  6.047777
201  5.816388
------------------------------
Tuesday: values capped to [0.00, 5.81]

Outliers in column: Wednesday
     Wednesday
105   2.070000
122   4.539722
165   4.120833
------------------------------
Wednesday: values capped to [0.00, 2.05]

Outliers in column: Thursday
     Thursday
69   2.991388
122  5.068333
175  1.505555
------------------------------
Thursday: values capped to [0.00, 1.51]

Outliers in column: Friday
       Friday
112  1.206667
118  3.091667
184  1.464167
------------------------------
Friday: values capped to [0.00, 1.20]

Outliers in column: Saturday
     Saturday
166  3.120555
182  3.469167
208  2.851945
------------------------------
Saturday: values capped to [0.00, 2.82]

Outliers in column: Sunday
       Sunday
30   1.450833
129  1.270278
186  3.507778
------------------------------
Sunday: values capped to [0.00, 1.22]

Outliers in column: Total_Items
    Total_Items
33           11
43           10
------------------------------
Total_Items: values capped to [0.00, 9.00]

Outliers in column: Total_Logins
     Total_Logins
33             16
43             17
207            18
------------------------------
Total_Logins: values capped to [0.00, 15.78]

Outliers in column: Student Activity by Item in the Course total time spent in hours Assignments
     Student Activity by Item in the Course total time spent in hours Assignments
177                                           0.003055
------------------------------
Student Activity by Item in the Course total time spent in hours Assignments: values capped to [0.00, 0.00]

Outliers in column: Learning_Materials_Time
     Learning_Materials_Time
134                 3.279445
162                 2.224443
172                 2.140278
------------------------------
Learning_Materials_Time: values capped to [0.00, 2.13]

Outliers in column: Module_Info_Time
     Module_Info_Time
92           0.568612
103          1.688055
105          2.616388
------------------------------
Module_Info_Time: values capped to [0.00, 0.54]

Outliers in column: Reading_List_Time
     Reading_List_Time
105           2.386945
154           0.098888
177           0.251112
------------------------------
Reading_List_Time: values capped to [0.00, 0.09]

Outliers in column: week_1_Time
     week_1_Time
52      0.005555
138     0.116112
175     0.011388
------------------------------
week_1_Time: values capped to [0.00, 0.01]

Outliers in column: Number of Times Accessed Week 2
     Number of Times Accessed Week 2
85                          0.004167
110                         0.005555
156                         0.003612
------------------------------
Number of Times Accessed Week 2: values capped to [0.00, 0.00]

Outliers in column: Times Accessed_week 3
     Times Accessed_week 3
85                0.001388
181               0.001388
------------------------------
Times Accessed_week 3: values capped to [0.00, 0.00]

Outliers in column: Times Accessed_week 4
     Times Accessed_week 4
54                0.013333
62                0.004445
145               0.009445
------------------------------
Times Accessed_week 4: values capped to [0.00, 0.00]

Outliers in column: Times Accessed_week 5
     Times Accessed_week 5
12                0.980000
23                0.852222
177               2.317222
------------------------------
Times Accessed_week 5: values capped to [0.00, 0.79]

Outliers in column: Times Accessed_week 6
     Times Accessed_week 6
105               5.360555
166               4.238333
186               3.361112
------------------------------
Times Accessed_week 6: values capped to [0.00, 3.36]

Outliers in column: Times Accessed_week 7
     Times Accessed_week 7
87                2.555555
105               0.145278
177               0.253333
------------------------------
Times Accessed_week 7: values capped to [0.00, 0.14]

Outliers in column: Times Accessed_Assignments
     Times Accessed_Assignments
177                           2
------------------------------
Times Accessed_Assignments: values capped to [0.00, 0.00]

Outliers in column: Times Accessed_Learning_material
    Times Accessed_Learning_material
53                                12
59                                13
87                                13
------------------------------
Times Accessed_Learning_material: values capped to [0.00, 11.89]

Outliers in column: Times Accessed_Module_Info_Time
    Times Accessed_Module_Info_Time
43                                4
54                                4
96                                6
------------------------------
Times Accessed_Module_Info_Time: values capped to [0.00, 3.89]

Outliers in column: Times Accessed_reading_list
     Times Accessed_reading_list
43                             5
87                             7
167                            3
------------------------------
Times Accessed_reading_list: values capped to [0.00, 2.89]

Outliers in column: Times Accessed_week_1
     Times Accessed_week_1
175                      2
------------------------------
Times Accessed_week_1: values capped to [0.00, 1.00]

Outliers in column: Times Accessed_week_2
     Times Accessed_week_2
85                       1
110                      1
156                      1
------------------------------
Times Accessed_week_2: values capped to [0.00, 0.89]

Outliers in column: Times Accessed_week_3
     Times Accessed_week_3
85                       1
178                      1
181                      1
------------------------------
Times Accessed_week_3: values capped to [0.00, 0.89]

Outliers in column: Times Accessed_week_4
     Times Accessed_week_4
177                      2
------------------------------
Times Accessed_week_4: values capped to [0.00, 1.00]

Outliers in column: Unnamed: 41 Week 5
    Unnamed: 41 Week 5
32                   3
96                   3
------------------------------
Unnamed: 41 Week 5: values capped to [0.00, 2.00]

Outliers in column: Unnamed: 42 Week 6
     Unnamed: 42 Week 6
4                    10
53                   10
183                  11
------------------------------
Unnamed: 42 Week 6: values capped to [0.00, 9.89]

Outliers in column: Times Accessed_week_7
     Times Accessed_week_7
87                       8
100                      6
190                      6
------------------------------
Times Accessed_week_7: values capped to [0.00, 5.78]